/* globals.css */

@import "tailwindcss";

* {
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
  width: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #f5f5f5;
  color: #0f172a;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

button,
input,
textarea {
  font: inherit;
}

h1,
h2,
h3,
p {
  word-break: break-word;
}

/* DARK MODE */

.dark body {
  background: #0f172a;
  color: white;
}

.dark .bg-white {
  background-color: #111827 !important;
}

.dark .text-slate-900 {
  color: white !important;
}

.dark .text-gray-600,
.dark .text-gray-500,
.dark .text-gray-400 {
  color: #cbd5e1 !important;
}

.dark .border-gray-200,
.dark .border-gray-300 {
  border-color: #374151 !important;
}

.dark .bg-\[\#f5f5f5\] {
  background-color: #0f172a !important;
}

.dark .bg-slate-950 {
  background-color: black !important;
}